.theme-menu{
   position: fixed;
   top: 0;
   right: -300px;
   width: 300px;
   padding:20px;
   z-index: 99;
   height: 100vh;
   background-color: var(--main-bg);
   box-shadow: var(--box-shadow);
   transition: right 0.5s var(--transition-cubic);
}

.theme-menu.active{
   right: 0;
}

.theme-menu__close{
   position: absolute;
   top:17px;
   right:20px;
   background-color: transparent;
   font-size: 1.5rem;
}

.theme-menu__select{
   margin-top: 40px;
}

.mode-list{
   margin-top: 20px;
}

.mode-list > li {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.mode-list > li ~ li{
   margin-top: 10px;
}

.mode-list__color{
   display: flex;
   justify-content:center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
   font-size: 1.5rem;
}

.mode-list__color > i{
   transform: scale(0);
   transition: transform 0.5s var(--transition-cubic);
}

.mode-list__color.active > i {
   transform: scale(1);
}

@media only screen and (max-width: 1280px){
   .theme-menu{
      width: 250px;
      right: -250px;
   }
}

@media only screen and (max-width: 768px){
   .theme-menu{
      width: 200px;
      right: -200px;
   }
}